﻿@using Spine.Entidades.Cfg;
@using Spine.Constantes.Valores.Cfg;
@using Spine.Web.Clases;
@{ Layout = "~/Views/Shared/_Layout.cshtml";
    List<CatalogoItem> vlstCtgTipo = (List<CatalogoItem>)ViewBag.lstCtgTipo;
    List<Breadcrumb> breadcrumbs = new List<Breadcrumb>();
    breadcrumbs.Add(new Breadcrumb { Name = "Personas" });}

@section PluginStyles {
    <link rel="stylesheet" href="/Content/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="/Content/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
}

@Html.Partial("_Breadcrumb", breadcrumbs)

<section class="content">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Personas</h3>
            <div class="card-tools">
                <a class="btn btn-success btn-xs" title="Crear Categoría" id="per_index_btnCrear">
                    <i class="fas fa-plus"></i> Crear
                </a>
            </div>
        </div>
        <div class="card-body">
            <form role="form" id="per_index_frmBusqueda" autocomplete="off">
                <div class="row">
                    <div class="col-md-4 form-group">
                        <label for="per_index_txtPerDocNombre">Nro. Documento o Nombre</label>
                        <input id="per_index_txtPerDocNombre" class="form-control input-sm " maxlength="120" autocomplete="off" required>
                    </div>
                    <div class="form-group col-md-8">
                        <button type="button" class="btn btn-primary btn-sm" id="per_index_btnConsultar"><i class="fas fa-search"></i> Consultar</button>
                    </div>
                </div>
            </form>
            <div class="row">
                <div class="col-md-12">
                    <table id="per_index_tblPersona" class="table table-striped table-bordered" cellspacing="0"></table>
                </div>
            </div>
        </div>
    </div>
    <div id="per_index_divGuardar"></div>
</section>

@section PluginScripts
{
    <script src="/Content/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="/Content/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="/Content/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="/Content/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
}

@section Scripts
{
    <script type="text/javascript">
    document.title = "Personas : @CnsCadenas.WEB_TITULO";
    </script>

    <!-- Custom -->
    <script>
    // Variables
    var per_index_tblPersona = null;
    var per_index_objCategoria = {};

    // Eventos
    $(document).ready(function () {
        per_index_init();
        // per_index_consultar();
    });

    $("#per_index_btnCrear").click(function () {
        fnProcesando();
        fnGetLoad("#per_index_divGuardar", "cmn/persona/mostrarCrear", function () {
            per_form_init().then(() => {
                fnProcesando(false);
            });
        });
    });

    $(document).on('click', ".btnEditar", function (event) {
        fnLimpiarDiv("#per_index_divPersona");
        per_index_objCategoria = per_index_tblPersona.row($(this).attr("data-id")).data();
        fnLlenarDiv("#per_index_divPersona", per_index_objCategoria);
        $("#per_index_modPersona .modal-title").text("Editar Categoría");
        $("#per_index_modPersona").modal("show");
    });

    $(document).on('click', ".btnDesactivar", function (event) {
        let viCtgId = per_index_tblPersona.row($(this).attr("data-id")).data().iCtgId;
        fnPregunta("¿Está seguro de desactivar categoría?", function () {
            fnProcesando();
            fnPost(`Cmn/Categoria/Desactivar/${viCtgId}`, {}, function (pobjApiRpta) {
                if (fnVerificarApiRpta(pobjApiRpta)) {
                    fnMensaje("Se desactivó categoria exitosamente");
                    per_index_consultar();
                }
                fnProcesando(false);
            });
        });
    });


    $('#per_index_btnConsultar').on('click', function () {
        if ($("#per_index_frmBusqueda")[0].checkValidity()) {
            fnProcesando();
            let vsPerDocNombre = $("#per_index_txtPerDocNombre").val();
            fnGet("cmn/persona/consultar", { psPerDocNombre: vsPerDocNombre }, function (pobjApiRpta) {
                if (fnVerificarApiRpta(pobjApiRpta)) {
                    per_index_tblPersona.clear().draw();
                    per_index_tblPersona.rows.add(pobjApiRpta.objDatos).draw().columns.adjust().responsive.recalc();
                }
                fnProcesando(false);
            });
        } else {
            $("#per_index_frmBusqueda")[0].reportValidity();
        }
    });



    $(document).on('click', ".btnActivar", function (event) {
        let viCtgId = per_index_tblPersona.row($(this).attr("data-id")).data().iCtgId;
        fnPregunta("¿Está seguro de activar categoría?", function () {
            fnProcesando();
            fnPost(`Cmn/Categoria/Activar/${viCtgId}`, {}, function (pobjApiRpta) {
                if (fnVerificarApiRpta(pobjApiRpta)) {
                    fnMensaje("Se activó categoria exitosamente");
                    per_index_consultar();
                }
                fnProcesando(false);
            });
        });
    });

    $(document).on('click', ".btnVerCambios", function (event) {
        alert("TODO:");
    });

    $("#per_index_btnGuardar").click(function () {
        if ($("#per_index_frmPersona")[0].checkValidity()) {
            fnPregunta("¿Esta seguro de guardar persona?", function () {
                fnProcesando();
                fnLlenarObjeto("#per_index_divPersona", per_index_objCategoria);
                per_index_objCategoria.iCtgEstado = @ValCatalogoItem.ESTADO_ACTIVADO;
                let vsAccion = per_index_objCategoria.iCtgId == 0 ? "Crear" : "Editar";
                fnPost(`Cmn/Categoria/${vsAccion}`, per_index_objCategoria, function (pobjApiRpta) {
                    if (fnVerificarApiRpta(pobjApiRpta)) {
                        fnLimpiarDiv("#per_index_divPersona");
                        $("#per_index_modPersona").modal("hide");
                        fnMensaje("Se guardó categoría exitosamente!", pobjApiRpta.sTipo);
                        per_index_consultar();
                    } else {
                        fnProcesando(false);
                    }
                });
            });
        } else {
            $("#per_index_frmPersona")[0].reportValidity();
        }
    });

    // Funciones
    function per_index_init() {
        per_index_tblPersona = $('#per_index_tblPersona').DataTable({
            autoWidth: false,
            responsive: true,
            sort: false,
            iDisplayLength: 50,
            dom: "<'row'<'col-sm - 12'f>><'row'<'col-sm-12't>><'row'<'col-sm-5'i><'col-sm-7'p>>",
            columns: [
                {
                    title: "N°", data: null, visible: true, width: "40px", className: "text-center",
                    render: function (data, type, row, meta) {
                        return meta.row + 1;
                    }
                },
                { title: "Tipo", data: "sPerTipo", visible: true, width: "10%" },
                { title: "Tipo Doc.", data: "sPerTipoDoc", visible: true, width: "10%" },
                { title: "Nro. Doc.", data: "sPerDoc", visible: true, width: "10%" },
                { title: "Nombre", data: "sPerNombre", visible: true },
                {
                    title: "Estado", data: "sPerEstado", visible: true, width: "5%", className: "text-center",
                    render: function (data, type, row, meta) {
                        var vsBadge = row.iPerEstado === @ValCatalogoItem.ESTADO_ACTIVADO ? "badge badge-primary" : "badge badge-danger";
                        return "<span class='" + vsBadge + "'>" + data + "</span></td>";
                    }
                },
                {
                    title: "Acciones", data: null, visible: true, width: "60px", className: "text-center",
                    render: function (data, type, row, meta) {
                        if (type === 'display') {
                            let vsOpciones =
                                "<div class='btn-group'>" +
                                "<a data-toggle='dropdown' class='btn btn-success btn-xs dropdown-toggle btn-newTable'>" +
                                "<i class='fa fa-cog fa-1x cog-new' aria-hidden='true'></i>" +
                                "<b class='caret caret-new'></b>" +
                                "</a>" +
                                "<ul class='dropdown-menu pull-right' style='padding-top: 0.5em; padding-bottom: 0.5em; z-index: 99999;'>" +
                                "<li>";

                            if (row.iPerEstado == @ValCatalogoItem.ESTADO_ACTIVADO) {
                                vsOpciones +=
                                    "<li>" +
                                    "<button type='button' class='btn btn-block btnAccion btnEditar' data-id='" + meta.row + "'><i class='fas fa-edit' aria-hidden='true'></i> Editar</button>" +
                                    "</li>" +
                                    "<li>" +
                                    "<button type='button' class='btn btn-block btnAccion btnDesactivar' data-id='" + meta.row + "'><i class='fas fa-times' aria-hidden='true'></i> Desactivar</button>" +
                                    "</li>";
                            }
                            else if (row.iPerEstado == @ValCatalogoItem.ESTADO_DESACTIVADO) {
                                vsOpciones +=
                                    "<li>" +
                                    "<button type='button' class='btn btn-block btnAccion btnActivar' data-id='" + meta.row + "'><i class='fas fa-check' aria-hidden='true'></i> Activar</button>" +
                                    "</li>";
                            }

                            vsOpciones +=
                                "<li>" +
                                "<button type='button' class='btn btn-block btnAccion btnVerCambios' data-id='" + meta.row + "'><i class='fas fa-clock' aria-hidden='true'></i> Ver cambios</button>" +
                                "</li>" +
                                "</ul>" +
                                "</div>";

                            return vsOpciones;
                        }
                        return data;
                    }
                }
            ]
        });
    }
    </script>
}

