﻿@using Spine.Entidades.Cfg;
@using Spine.Constantes.Valores.Cfg;
@using Spine.Web.Clases;
@{ Layout = "~/Views/Shared/_Layout.cshtml";
    List<CatalogoItem> vlstCtgTipo = (List<CatalogoItem>)ViewBag.lstCtgTipo;
    List<Breadcrumb> breadcrumbs = new List<Breadcrumb>();
    breadcrumbs.Add(new Breadcrumb { Name = "Categorías" }); }

@section PluginStyle {
    <link rel="stylesheet" href="/Content/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="/Content/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
}

@section Breadcrumb {
    @Html.Partial("_Breadcrumb", breadcrumbs)
}

<div class="card card-info card-outline">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h5 class="card-title m-0">Categorías</h5>
        <div class="card-tools">
            <a id="ctg_index_btnCrear" class="btn btn-info btn-sm my-0 mr-0" title="Crear Categoría">
                <i class="fas fa-plus mr-2"></i> Crear
            </a>
        </div>
    </div>
    <div class="card-body">
        <div id="contenedor-tabla-Categoria">
            <table id="ctg_index_tblCategoria" class="table table-striped table-bordered table-sm rounded"></table>
        </div>
    </div>
</div>

@section Modal {
    <div id="ctg_index_modCategoria"
         class="modal fade"
         role="dialog"
         tabindex="-1"
         aria-hidden="true"
         data-keyboard="false"
         data-backdrop="static"
         data-focus-on="input:first">

        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content" id="ctg_index_divCategoria">
                <form role="form" id="ctg_index_frmCategoria" autocomplete="off">
                    <div class="modal-header">
                        <h5 class="modal-title">Crear Categoría</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" id="ctg_index_divModal">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="ctg_index_cboCtgTipo">
                                    Tipo<span class="text-red ml-2">*</span>
                                </label>
                                <select id="ctg_index_cboCtgTipo" class="form-control form-control-sm" name="iCtgTipo" required>
                                    <option value="">- Seleccione -</option>
                                    @foreach (CatalogoItem vobjCtgTipo in vlstCtgTipo)
                                    {
                    <option value="@vobjCtgTipo.iCatIteNum">@vobjCtgTipo.sCatIteNombre</option>}
                                </select>
                            </div>
                            <div class="form-group col-md-12">
                                <label for="ctg_index_txtCtgNombre">Nombre <span style="color:red"> *</span> </label>
                                <input type="text" id="ctg_index_txtCtgNombre" class="form-control form-control-sm" name="sCtgNombre" maxlength="40" required />
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="ctg_index_btnGuardar" class="btn btn-info btn-sm my-0 mr-0">
                            <span class="fas fa-save mr-2"></span>Guardar
                        </button>
                        <button type="button" id="ctg_index_btnCancelar" class="btn btn-secondary btn-sm my-0 mr-0" data-dismiss="modal">
                            <span class="fas fa-times mr-2"></span>Cancelar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
}

@section PluginScript {
    <script src="/Content/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="/Content/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="/Content/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="/Content/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
}

@section Script {
    <script type="text/javascript">
        //Titulo
        document.title = "Categorías : @CnsCadenas.WEB_TITULO";

        // Variables
        var ctg_index_tblCategoria = null;
        var ctg_index_objCategoria = {};
        var vlActivado = (vnValue) => (vnValue === @ValCatalogoItem.ESTADO_ACTIVADO);
        var vlDesactivado = (vnValue) => (vnValue === @ValCatalogoItem.ESTADO_DESACTIVADO);

        //Funciones
        const fnIniciar = () => {
            ctg_index_tblCategoria = $('#ctg_index_tblCategoria').DataTable({
                ...cnsDataTableOptions,
                columns: [
                    {
                        title: "N°", data: null, visible: true, width: "40px", className: "text-center",
                        render: (data, type, row, meta) => (meta.row + 1)
                    },
                    { title: "Tipo", data: "sCtgTipo", visible: true, width: "10%" },
                    { title: "Nombre", data: "sCtgNombre", visible: true },
                    {
                        title: "Estado", data: "sCtgEstado", visible: true, width: "80px", className: "text-center",
                        render: (data, type, row, meta) => fnCrearTag("span", { sClase: (vlActivado(row.iCtgEstado) ? "badge badge-success" : "badge badge-danger py-1"), sTexto: data }).prop("outerHTML")
                    },
                    {
                        title: "Acciones", data: null, visible: true, width: "100px",
                        render: (data, type, row, meta) => {
                            if (type !== 'display') return data;

                            let vlstData = [{ sNombre: "data-id", sValor: meta.row }];
                            let vobjOpciones = fnCrearTag("div", { sClase: "card-action d-inline" });

                            if (vlActivado(row.iCtgEstado)) {
                                vobjOpciones.append(fnCrearTag("button", { sClase: "btn btn-info btn-xs btn-action btnEditar", sTitulo: "Editar", sIcono: "fas fa-edit", lstData: vlstData }));
                                vobjOpciones.append(fnCrearTag("button", { sClase: "btn btn-info btn-xs btn-action btnDesactivar ml-2", sTitulo: "Desactivar", sIcono: "fas fa-times", lstData: vlstData }));
                            } else if (vlDesactivado(row.iCtgEstado)) {
                                vobjOpciones.append(fnCrearTag("button", { sClase: "btn btn-info btn-xs btn-action btnActivar", sTitulo: "Activar", sIcono: "fas fa-check", lstData: vlstData }));
                            }
                            vobjOpciones.append(fnCrearTag("button", { sClase: "btn btn-info btn-xs btn-action btnVerCambios ml-2", sTitulo: "Ver Cambios", sIcono: "fas fa-clock", lstData: vlstData }));

                            return vobjOpciones.prop("outerHTML");
                        }
                    }
                ]
            });
            fnAlfanumerico("#ctg_index_txtCtgNombre", true, "&-.");
        }

        const fnConsultar = () => {
            fnProcesando();
            fnGet("Cmn/Categoria/Consultar", {})
                .then((pobjApiRpta) => {
                    if (fnVerificarApiRpta(pobjApiRpta)) {
                        ctg_index_tblCategoria.clear().draw();
                        ctg_index_tblCategoria.rows.add(pobjApiRpta.objDatos).draw().columns.adjust().responsive.recalc();
                    }
                    fnProcesando(false);
                });
        }

        const fnCrear = () => {
            ctg_index_objCategoria = { iCtgId: 0 };
            fnLimpiarDiv("#ctg_index_frmCategoria");
            $("#ctg_index_cboCtgTipo").removeAttr('disabled');
            $("#ctg_index_modCategoria .modal-title").text("Crear Categoría");
            $("#ctg_index_modCategoria").modal({ backdrop: "static", keyboard: false });
            $("#ctg_index_modCategoria").modal("show");
        }

        const fnEditar = () => {
            fnLimpiarDiv("#ctg_index_divCategoria");
            ctg_index_objCategoria = ctg_index_tblCategoria.row($(this).attr("data-id")).data();
            fnLlenarDiv("#ctg_index_divCategoria", ctg_index_objCategoria);
            $("#ctg_index_modCategoria .modal-title").text("Editar Categoría");
            $("#ctg_index_modCategoria").modal("show");
        }

        const fnActivar = () => {
            let viCtgId = ctg_index_tblCategoria.row($(this).attr("data-id")).data().iCtgId;
            fnPregunta("¿Está seguro de activar categoría?", function () {
                fnProcesando();
                fnPost(`Cmn/Categoria/Activar/${viCtgId}`, {}, function (pobjApiRpta) {
                    if (fnVerificarApiRpta(pobjApiRpta)) {
                        fnMensaje("Se activó categoria exitosamente");
                        fnConsultar();
                    }
                    fnProcesando(false);
                });
            });
        }

        const fnDesactivar = () => {
            let viCtgId = ctg_index_tblCategoria.row($(this).attr("data-id")).data().iCtgId;
            fnPregunta("¿Está seguro de desactivar categoría?", function () {
                fnProcesando();
                fnPost(`Cmn/Categoria/Desactivar/${viCtgId}`, {}, function (pobjApiRpta) {
                    if (fnVerificarApiRpta(pobjApiRpta)) {
                        fnMensaje("Se desactivó categoria exitosamente");
                        fnConsultar();
                    }
                    fnProcesando(false);
                });
            });
        }

        const fnVerCambios = () => {
            alert("TODO:");
        }

        const fnGuardar = () => {
            if ($("#ctg_index_frmCategoria")[0].checkValidity()) {
                fnPregunta("¿Esta seguro de guardar categoría?", function () {
                    fnProcesando();
                    fnLlenarObjeto("#ctg_index_divCategoria", ctg_index_objCategoria);
                    ctg_index_objCategoria.iCtgEstado = @ValCatalogoItem.ESTADO_ACTIVADO;
                    
                    if (ctg_index_objCategoria.iCtgId == 0) {
                        fnPost('Cmn/Categoria/Crear', ctg_index_objCategoria)
                            .then((pobjApiRpta) => {
                                if (fnVerificarApiRpta(pobjApiRpta)) {
                                    fnLimpiarDiv("#ctg_index_divCategoria");
                                    $("#ctg_index_modCategoria").modal("hide");
                                    fnMensaje("Se guardó categoría exitosamente!", pobjApiRpta.sTipo);
                                    fnConsultar();
                                } else {
                                    fnProcesando(false);
                                }
                            });
                    } else {
                        fnPut('Cmn/Categoria/Editar', ctg_index_objCategoria)
                            .then((pobjApiRpta) => {
                                if (fnVerificarApiRpta(pobjApiRpta)) {
                                    fnLimpiarDiv("#ctg_index_divCategoria");
                                    $("#ctg_index_modCategoria").modal("hide");
                                    fnMensaje("Se guardó categoría exitosamente!", pobjApiRpta.sTipo);
                                    fnConsultar();
                                } else {
                                    fnProcesando(false);
                                }
                            });
                    }
                });
            } else {
                $("#ctg_index_frmCategoria")[0].reportValidity();
            }
        }

        // Eventos
        $(document).ready(() => {
            fnIniciar();
            fnConsultar();
        });
        $(document).on("click", "#ctg_index_btnCrear", fnCrear);
        $(document).on("click", ".btnEditar", fnEditar);
        $(document).on("click", ".btnEditar", fnEditar);
        $(document).on("click", ".btnActivar", fnActivar);
        $(document).on("click", ".btnDesactivar", fnDesactivar);
        $(document).on("click", ".btnVerCambios", fnVerCambios);
        $(document).on("click", "#ctg_index_btnGuardar", fnGuardar);
    </script>
}
