﻿/* <General> */
@font-face {
    font-family: 'Homeet Regular';
    src: url('../fonts/Homeet-Regular.woff') format('woff');
}

body {
    font-family: "Homeet Regular",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

a:focus, button:focus {
    outline: none !important;
}

.text-sm {
    font-size: .8rem !important;
}

    .text-sm .fa,
    .text-sm .fas,
    .text-sm .far,
    .text-sm .fal,
    .text-sm .fad,
    .text-sm .fab,
    .text-sm .btn,
    .text-sm .dropdown-menu,
    .text-sm input,
    .text-sm select,
    .text-sm textarea {
        font-size: 0.8rem !important;
    }

.text-sm .badge {
    font-size: .8rem !important;
    font-weight: normal !important;
}

.btn-sm, .form-control-sm {
    font-size: .8rem;
}

.btn-action {
    width: 25px !important;
}
/* </General> */


/* <Layout> */
.wrapper, body, html {
    min-height: 100vh;
}

.wrapper {
    background: #f4f6f9;
}
/* </Layout> */


/* <Table> */
.table thead th,
.table tbody td {
    vertical-align: middle !important;
}

.table-bordered th {
    border-top: none !important;
}

.table .card-action {
    white-space: nowrap !important;
}
/* <Table> */


/* <Card> */
.text-sm .card-header,
.text-sm .card-footer {
    padding: .5rem 1rem !important;
}

.card-header::after {
    content: none;
}

.card-header > .card-tools {
    margin-right: 0;
}

.text-sm .card-body {
    padding: .75rem 1rem !important;
}

.card-footer {
    background-color: transparent;
    border-top: 1px solid rgba(0,0,0,.125)
}
/* </Card> */

/* <Modal> */
.text-sm .modal-header,
.text-sm .modal-footer {
    padding: .5rem 1rem !important;
}

.text-sm .card-body {
    padding: .75rem 1rem !important;
}
/* </Modal> */


/* <SweetAlert> */
.swal2-popup.swal2-toast,
.swal2-popup.swal2-modal {
    flex-direction: column !important;
    align-items: start !important;
    justify-content: center;
    padding: 0 !important;
}

.swal2-popup.swal2-toast .swal2-header,
.swal2-popup.swal2-modal .swal2-header {
    width: 100%;
    margin: 0 !important;
    flex-direction: row !important;
    align-items: center !important;
    padding: .75rem 1rem !important;
    border-bottom: 1px solid #dee2e6!important;
}

.swal2-popup.swal2-toast .swal2-icon,
.swal2-popup.swal2-modal .swal2-icon {
    width: 2em;
    min-width: 2em;
    height: 2em;
    margin: 0;
}

.swal2-popup.swal2-toast .swal2-icon .swal2-icon-content,
.swal2-popup.swal2-modal .swal2-icon .swal2-icon-content {
    display: flex;
    align-items: center;
    font-size: 1.8em;
    font-weight: 700;
}

.swal2-popup.swal2-toast .swal2-title,
.swal2-popup.swal2-modal .swal2-title {
    font-size: 1rem !important;
    padding: 0 .5rem !important;
}

.swal2-popup.swal2-toast .swal2-content,
.swal2-popup.swal2-modal .swal2-content {
    justify-content: flex-start;
    font-size: .8rem;
    text-align: justify !important;
    padding: 1rem !important;
}

.swal2-popup.swal2-toast .swal2-actions,
.swal2-popup.swal2-modal .swal2-actions {
    border-top: 1px solid #dee2e6!important;
    justify-content: flex-end !important;
    padding: .5rem 1rem !important;
    margin: 0 !important;
}
/* </SweetAlert> */

/* <Otros> */
.toast {
    opacity: 1 !important;
}
/* </Otros> */
