﻿.wrapper .content-wrapper {
    min-height: calc(100vh - 100px);
}

.main-sidebar {
    width: 12rem;
}

.text-sm.brand-link .brand-image {
    background-color: #ffffff;
    margin-left: 0.15rem;
    height: 25px;
}

.text-sm .nav-link {
    padding: 0.5rem;
}

.text-sm .nav-flat .nav-item > .nav-link > .nav-icon {
    margin-left: 0.15rem;
}

.text-sm .modal-title {
    font-size: 1rem;
}

@media (min-width: 992px) {
    .sidebar-mini.sidebar-collapse .main-sidebar,
    .sidebar-mini.sidebar-collapse .main-sidebar::before {
        margin-left: 0;
        width: 2.9375rem;
    }

    .sidebar-mini.sidebar-collapse .content-wrapper,
    .sidebar-mini.sidebar-collapse .main-footer,
    .sidebar-mini.sidebar-collapse .main-header {
        margin-left: 2.9375rem !important;
    }
}

@media (min-width: 768px) {
    body:not(.sidebar-mini-md) .content-wrapper,
    body:not(.sidebar-mini-md) .main-footer,
    body:not(.sidebar-mini-md) .main-header {
        margin-left: 12rem;
    }
}

@media (max-width: 991.98px) {
    body:not(.sidebar-mini-md) .content-wrapper,
    body:not(.sidebar-mini-md) .content-wrapper::before,
    body:not(.sidebar-mini-md) .main-footer,
    body:not(.sidebar-mini-md) .main-footer::before,
    body:not(.sidebar-mini-md) .main-header,
    body:not(.sidebar-mini-md) .main-header::before {
        margin-left: 0;
    }
}


@media (min-width: 992px) {
    .sidebar-mini.sidebar-collapse .main-sidebar.sidebar-focused,
    .sidebar-mini.sidebar-collapse .main-sidebar:hover {
        width: 12rem;
    }
}