﻿@using Spine.Web.Clases.Rutas;
@using Spine.Web.Clases;
@{
    ViewBag.Title = "Marca";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    document.title = "Marcas : @CnsCadenas.WEB_TITULO";
</script>

<style>

    table.dataTable thead .sorting:after {
        opacity: 0.2;
        content: "";
    }

    table.dataTable thead .sorting_asc:after {
        content: "";
    }

    table.dataTable thead .sorting_desc:after {
        content: "";
    }
</style>

<div class="wrapper wrapper-content">
    <div id="mostrarMarca" class="">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title title-header">
                        <h5>Marcas</h5>
                        <div class="ibox-tools">
                            <a class="btn btn-success btn-sm" title="Agregar Marca" onclick="" id="mar_index_btnAgregar">
                                <span class="icon-custom"><i class="fas fa-plus"></i></span>Agregar
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div id="contenedor-tabla-Marca">
                            <table id="mar_index_tblMarca" class="table table-striped table-bordered" cellspacing="0"></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>