﻿@using Spine.Librerias.Web;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="URL_BASE" content="@WebMetodos.GetUrlBase(Request)">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="~/Content/assets/img/homeet.png" />
    <title>Spine</title>

    <link rel="stylesheet" href="/Content/plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="~/Content/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css">
    @RenderSection("PluginStyles", required: false)
    <link rel="stylesheet" href="/Content/assets/css/adminlte.min.css">
    <link rel="stylesheet" href="~/Content/assets/css/general.css">
    <link rel="stylesheet" href="~/Content/assets/css/fullpage.css">
    @RenderSection("Styles", required: false)
</head>
<body class="login-page">
    <div class="login-box">
        @RenderBody()
    </div>

    <script src="/Content/plugins/jquery/jquery.min.js"></script>
    <script src="/Content/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/Content/plugins/sweetalert2/sweetalert2.min.js"></script>
    @RenderSection("PluginScripts", required: false)
    <script src="/Content/assets/js/adminlte.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
