﻿@{ Layout = "~/Views/Shared/_FullPage.cshtml"; }

<div class="card">
    <div class="card-body p-0 m-0">
        <div class="d-flex justify-content-center align-items-center">
            <div class="card-login-left flex-column py-5 text-center border-right">
                <img src="~/Content/assets/img/homeet.png" class="card-login-image" />
                <p class="login-box-msg m-0 mt-2">Homeet Coders</p>
            </div>
            <div class="card-login-right flex-column px-5">
                <p class="login-box-msg">Spine Sign in</p>
                <form action="/Home/LoginPost" method="post">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <span class="fas fa-user"></span>
                            </div>
                        </div>
                        <input type="text" class="form-control form-control-sm" placeholder="Username" autofocus>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                        <input type="password" class="form-control form-control-sm" placeholder="Password">
                    </div>
                    <div class="row">
                        <div class="col-12 text-center">
                            <button type="submit" class="btn btn-info btn-block btn-sm">Sign In</button>
                        </div>
                    </div>
                    <p class="mt-1 text-center">
                        <a class="text-sm" href="forgot-password.html">Forgot my password</a>
                    </p>
                </form>
            </div>
        </div>
    </div>
</div>